## Natural Language Processing

In [2]:
import pandas as pd
import numpy as np

In [3]:
Eval = pd.read_csv("/Users/ljy/Downloads/ICE2_data_eval.csv")
Eval

,teaching,teaching.1,coursecontent,coursecontent.1,examination,Examination,labwork,labwork.1,library_facilities,library_facilities,extracurricular,extracurricular.1
0,0,teacher are punctual but they should also give...,0,content of courses are average,1,examination pattern is good,-1,"not satisfactory, lab work must include latest...",0,library facilities are good but number of book...,1,extracurricular activities are excellent and p...
1,1,Good,-1,Not good,1,Good,1,Good,-1,Not good,1,Good
2,1,Excellent lectures are delivered by teachers a...,1,All courses material provide very good knowled...,1,Exam pattern is up to the mark and the Cgpa de...,1,Lab work is properly covered in the labs by th...,1,Library facilities are excellent in terms of g...,1,Extra curricular activities also help students...
3,1,Good,-1,Content of course is perfectly in line with th...,-1,Again the university tests students of their a...,1,Good,0,Its the best thing i have seen in this univers...,-1,Complete wastage of time. Again this opinion i...
4,1,teachers give us all the information required ...,1,content of courses improves my knowledge,1,examination pattern is good,1,practical work provides detail knowledge of th...,1,library has huge collection of books from diff...,1,extracurricular activities increases mental an...
...,...,...,...,...,...,...,...,...,...,...,...,...
180,1,intraction is good and leacture delivery also ...,0,every one can tell depth of course but some on...,0,exam pattern is good and marks distribution is...,1,all labs and practical going on well,1,good,1,they all are held in super
181,1,all the given terms are good regarding the uni...,1,we are getting maximum knowledge,1,all are good,1,not bad,-1,library facilities are not good.They are not f...,1,good
182,1,All the terms are good regarding the universit...,1,Knowledge is maximum gained by reading books ...,0,The examination pattern is good .But time is n...,1,Labs are upto the mark.,1,They are good,1,the extracurricular activities held in univers...
183,-1,Some of the teacher are un experienced. Also t...,0,Its fine but it should focus more towards prac...,1,MCQ pattern is quite good and efficient way fo...,-1,Our labs do not have all facalities.,1,We have a good library with all facalities.,1,Our university has lot of extracurricular goin...
184,1,IT IS GOING GOOD,-1,HAVE TO IMPROVE,0,PAPER CHECKING IS VERY HARD REMAINING IS GOOD,1,ALL PRACTICAL WORK IS GOOD,-1,THEY IS NO PROBLEM WITH THEM\n,1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

### Data cleaning and wrangling

In [4]:
# rearrange data into long format
evalClean=pd.melt(Eval, id_vars=['teaching', 'coursecontent', 'examination', 'labwork', 'library_facilities', 'extracurricular'], value_name='comment', var_name='category')
evalClean

,teaching,coursecontent,examination,labwork,library_facilities,extracurricular,category,comment
0,0,0,1,-1,0,1,teaching.1,teacher are punctual but they should also give...
1,1,-1,1,1,-1,1,teaching.1,Good
2,1,1,1,1,1,1,teaching.1,Excellent lectures are delivered by teachers a...
3,1,-1,-1,1,0,-1,teaching.1,Good
4,1,1,1,1,1,1,teaching.1,teachers give us all the information required ...
...,...,...,...,...,...,...,...,...
1105,1,0,0,1,1,1,extracurricular.1,they all are held in super
1106,1,1,1,1,-1,1,extracurricular.1,good
1107,1,1,0,1,1,1,extracurricular.1,the extracurricular activities held in univers...
1108,-1,0,1,-1,1,1,extracurricular.1,Our university has lot of extracurricular goin...
1109,1,-1,0,1,-1,1,extracurricular.1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

In [5]:
evalClean = pd.melt(Eval, id_vars=['teaching'], var_name='comment', value_name='category')
evalClean

,teaching,comment,category
0,0,teaching.1,teacher are punctual but they should also give...
1,1,teaching.1,Good
2,1,teaching.1,Excellent lectures are delivered by teachers a...
3,1,teaching.1,Good
4,1,teaching.1,teachers give us all the information required ...
...,...,...,...
2030,1,extracurricular.1,they all are held in super
2031,1,extracurricular.1,good
2032,1,extracurricular.1,the extracurricular activities held in univers...
2033,-1,extracurricular.1,Our university has lot of extracurricular goin...
2034,1,extracurricular.1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

In [6]:
# import the regex library
import re
import string

In [7]:
def clean_text(text):
    #Make text lowercase, remove punctuations, and remove numbers
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('[0-9]+','', text)
    return text

In [8]:
evalClean['comment'] = evalClean['comment'].map(clean_text)
evalClean

,teaching,comment,category
0,0,teaching,teacher are punctual but they should also give...
1,1,teaching,Good
2,1,teaching,Excellent lectures are delivered by teachers a...
3,1,teaching,Good
4,1,teaching,teachers give us all the information required ...
...,...,...,...
2030,1,extracurricular,they all are held in super
2031,1,extracurricular,good
2032,1,extracurricular,the extracurricular activities held in univers...
2033,-1,extracurricular,Our university has lot of extracurricular goin...
2034,1,extracurricular,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

### Organizing data

In [9]:
# create a document-term matrix using CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')

commentCV = cv.fit_transform(evalClean['comment'])
commentCV_dtm = pd.DataFrame(commentCV.toarray(), columns = cv.get_feature_names())

commentCV_dtm.index = evalClean['comment'].index
commentCV_dtm

,coursecontent,examination,extracurricular,labwork,libraryfacilities,teaching
0,0,0,0,0,0,1
1,0,0,0,0,0,1
2,0,0,0,0,0,1
3,0,0,0,0,0,1
4,0,0,0,0,0,1
...,...,...,...,...,...,...
2030,0,0,1,0,0,0
2031,0,0,1,0,0,0
2032,0,0,1,0,0,0
2033,0,0,1,0,0,0
2034,0,0,1,0,0,0

### Exploratory analysis

In [10]:
evalClean.groupby(['teaching','comment']).count().unstack()

                   category                                                    \
comment   libraryfacilities coursecontent examination extracurricular labwork
teaching
-1                       13            26          26              26      26
 0                       35            70          70              70      70
 1                      137           274         274             274     274


comment  libraryfacilities teaching
teaching
-1                      13       13
 0                      35       35
 1                     137      137

In [11]:
totalCT = commentCV_dtm.sum()
commentCV_dtm[totalCT.sort_values(ascending = False).index[:20]].sum()

coursecontent        370
examination          370
extracurricular      370
labwork              370
libraryfacilities    370
teaching             185
dtype: int64

### Topic Modeling

In [15]:
!pip install -U gensim
from gensim import matutils, models
import scipy.sparse

Collecting gensim
  Downloading gensim-4.1.2-cp38-cp38-macosx_10_9_x86_64.whl (24.0 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 24.0 MB 7.9 kB/s eta 0:00:01     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ            | 15.0 MB 1.7 MB/s eta 0:00:06
Requirement already satisfied: scipy>=0.18.1 in ./opt/anaconda3/lib/python3.8/site-packages (from gensim) (1.6.2)
Requirement already satisfied: numpy>=1.17.0 in ./opt/anaconda3/lib/python3.8/site-packages (from gensim) (1.20.1)
Collecting smart-open>=1.8.1
  Downloading smart_open-6.0.0-py3-none-any.whl (58 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 58 kB 1.8 MB/s eta 0:00:01
Installing collected packages: smart-open, gensim
Successfully installed gensim-4.1.2 smart-open-6.0.0

In [16]:
tdm = commentCV_dtm.transpose()
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)
id2word = dict((v, p) for p, v in cv.vocabulary_.items())

In [17]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=20)
lda.print_topics()

[(0,
  '0.663*"libraryfacilities" + 0.332*"teaching" + 0.001*"extracurricular" + 0.001*"labwork" + 0.001*"examination" + 0.001*"coursecontent"'),
 (1,
  '0.999*"extracurricular" + 0.000*"labwork" + 0.000*"coursecontent" + 0.000*"examination" + 0.000*"teaching" + 0.000*"libraryfacilities"'),
 (2,
  '0.333*"labwork" + 0.333*"coursecontent" + 0.333*"examination" + 0.001*"extracurricular" + 0.001*"teaching" + 0.001*"libraryfacilities"')]

### Text classfier

In [19]:
# spit the dataset
from sklearn.model_selection import train_test_split

Xs_docs = evalClean['comment']
Ys_evals = evalClean['teaching']
xs_training, xs_test, y_training, y_test = train_test_split(Xs_docs, Ys_evals, test_size = 0.2)

In [20]:
# call the classifier models and feed in the training data and labels
from sklearn.naive_bayes import MultinomialNB

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train a multinomial Naive Bayes Model
model = MultinomialNB()
model.fit(features, y_training)

# Prepare the testing xs.
# Here we are using transform and fit_transform to standardize the data.
# Read about the differences here: https://towardsdatascience.com/what-and-why-behind-fit-transform-vs-transform-in-scikit-learn-78f915cf96fe
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

0.7592137592137592

In [21]:
# results of supported vector machine
from sklearn import svm

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train SVM classifier
model = svm.SVC()
model.fit(features, y_training)

# Prepare the testing xs
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

0.7592137592137592